<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Comment Manager</h2>
        <a href="/binhluan/add-comment" class="btn btn-success float-right">Add Comment</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Comment ID</th>
                    <th>Content</th>
                    <th>Date</th>
                    <th>Product ID</th>
                    <th>Customer ID</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <% comments.forEach((entry) => { %>
            <tr ondblclick="handleUpdateComment('<%= entry._id %>')">
                <td><%= entry.MaBL %></td>
                <td><%= entry.NoiDung %></td>
                <td><%= entry.NgayDang %></td>
                <td><%= entry.MaSP %></td>
                <td><%= entry.MaKH %></td>
                <td>
                    <input class="btn btn-primary" type="button" value="Update"
                        onclick="handleUpdateComment('<%= entry._id %>')">
                </td>
            </tr>
            <% }) %>
        </table>
        <script>
            function handleUpdateComment(value) {
                $(location).attr('href', '/binhluan/update-comment/' + value);
            }
        </script>
    </div>
</body>
</html>
