<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Invoice Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Purchase Invoice Detail Manager</h2>
        <a href="/chitiethoadonnhap/add-purchase-invoice-detail" class="btn btn-success float-right">Add Purchase Invoice Detail</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Purchase Invoice Detail ID</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <% purchaseInvoiceDetails.forEach((entry) => { %>
            <tr ondblclick="handleUpdatePurchaseInvoiceDetail('<%= entry._id %>')">
                <td><%= entry.MaHDN %></td>
                <td><%= entry.MaSP %></td>
                <td><%= entry.SoLuongNhap %></td>
                <td><%= entry.DonGiaNhap %></td>
                <td>
                    <input class="btn btn-primary" type="button" value="Update"
                        onclick="handleUpdatePurchaseInvoiceDetail('<%= entry._id %>')">
                </td>
            </tr>
            <% }) %>
        </table>
        <script>
            function handleUpdatePurchaseInvoiceDetail(value) {
                $(location).attr('href', '/chitiethoadonnhap/update-purchase-invoice-detail/' + value);
            }
        </script>
    </div>
</body>
</html>
