<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Invoices</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Sales Invoice Manager</h2>
        <a href="/hoadonban/add-sales-invoice" class="btn btn-success float-right">Add Sales Invoice</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Sales Invoice ID</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Revenue</th>
                    <!-- <th>Customer ID</th> -->
                    <th>Store ID</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <% salesInvoices.forEach((entry) => { %>
            <tr ondblclick="handleUpdateSalesInvoice('<%= entry.MaHDB %>')">
                <td><%= entry.MaHDB %></td>
                <td><%= entry.SoLuongBan %></td>
                <td><%= entry.NgayBan %></td>
                <td><%= entry.TongTienThu %></td>
                <!-- <td><%= entry.MaKH %></td> -->
                <td><%= entry.MaCH %></td>
                <td>
                    <input class="btn btn-primary" type="button" value="Update"
                        onclick="handleUpdateSalesInvoice('<%= entry.MaHDB %>')">
                </td>
            </tr>
            <% }) %>
        </table>
        <script>
            function handleUpdateSalesInvoice(value) {
                $(location).attr('href', '/hoadonban/update/' + value);
            }
        </script>
    </div>
</body>
</html>
