<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Supplier Manager</h2>
        <a href="nhacungcap/add-supplier" class="btn btn-success float-right">Add Supplier</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Supplier ID</th>
                    <th>Supplier Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <% suppliers.forEach((entry) => { %>
            <tr ondblclick="handleUpdateSupplier('<%= entry._id %>')">
                <td><%= entry.MaNCC %></td>
                <td><%= entry.TenNCC %></td>
                <td><%= entry.SDT %></td>
                <td><%= entry.DiaChi %></td>
                <td><%= entry.Email %></td>
                <td>
                    <input class="btn btn-primary" type="button" value="Update"
                        onclick="handleUpdateSupplier('<%= entry._id %>')">
                </td>
            </tr>
            <% }) %>
        </table>
        <script>
            function handleUpdateSupplier(value) {
                $(location).attr('href', 'nhacungcap/update-supplier/' + value);
            }
        </script>
    </div>
</body>
</html>
