<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Cards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Membership Card Manager</h2>
        <a href="membershipCard/add-membership-card" class="btn btn-success float-right">Add Membership Card</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Membership Card ID</th>
                    <th>Point</th>
                    <th>Issue Date</th>
                    <th>Expiry Date</th>
                    <th>Customer ID</th>
                    <th>Membership Card ID</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <% membershipCards.forEach((entry) => { %>
            <tr ondblclick="handleUpdateMembershipCards('<%= entry._id %>')">
                <td><%= entry.MaSoThe %></td>
                <td><%= entry.DiemTichLuy %></td>
                <td><%= entry.NgayCap %></td>
                <td><%= entry.NgayHetHan %></td>
                <td><%= entry.MaKH %></td>
                <td><%= entry.MaLoaiThe %></td>
                <td>
                    <input class="btn btn-primary" type="button" value="Update"
                        onclick="handleUpdateMembershipCards('<%= entry._id %>')">
                </td>
            </tr>
            <% }) %>
        </table>
        <script>
            function handleUpdateMembershipCards(value) {
                $(location).attr('href', 'membershipCard/update-membershipCard/' + value);
            }
        </script>
    </div>
</body>
</html>
