<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Discount</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/khuyenmai"><h3>Discount Page</h3></a>
        <h2>UPDATE Discount</h2>
        <form action="/khuyenmai/<%= discount._id %>" method="POST">
            <div class="form-group">
                <label>Discount ID</label>
                <input class="form-control" type="text" name='MaKM' value="<%= discount.MaKM %>">
            </div>
            <div class="form-group">
                <label>Start</label>
                <input class="form-control" type="text" name='TGBatDau' value="<%= discount.TGBatDau %>">
            </div>
            <div class="form-group">
                <label>End</label>
                <input class="form-control" type="text" name='TGKetThuc' value="<%= discount.TGKetThuc %>">
            </div>
            <div class="form-group">
                <label>Product ID</label>
                <input class="form-control" type="text" name='MaSP' value="<%= discount.MaSP %>">
            </div>
            <div class="form-group">
                <label>Content</label>
                <input class="form-control" type="text" name='NoiDung' value="<%= discount.NoiDung %>">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="delete-btn" class="btn btn-secondary" type="button" value="DELETE"
                onclick="handleDeleteDiscount('<%= discount._id %>')">
        </form>
    </div>
    <script>
        function handleDeleteDiscount(value) {
            $.ajax({
                url: '/khuyenmai/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/');
                }
            })
        }
    </script>
</body>
</html>
