<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Membership Card</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/thethanhvien"><h3>Membership Card Page</h3></a>
        <h2>UPDATE MEMBERSHIP CARD</h2>
        <form action="/thethanhvien/<%= membershipCard._id %>" method="POST">
            <div class="form-group">
                <label>Membership Card ID</label>
                <input class="form-control" type="text" name='MaThe' value="<%= membershipCard.MaThe %>">
            </div>
            <div class="form-group">
                <label>Point</label>
                <input class="form-control" type="text" name='DiemTichLuy' value="<%= membershipCard.DiemTichLuy %>">
            </div>
            <div class="form-group">
                <label>Issue</label>
                <input class="form-control" type="date" name='NgayCap' value="<%= membershipCard.NgayCap %>">
            </div>
            <div class="form-group">
                <label>Expiry</label>
                <input class="form-control" type="date" name='NgayHetHan' value="<%= membershipCard.NgayHetHan %>">
            </div>
            <div class="form-group">
                <label>Customer ID</label>
                <input class="form-control" type="text" name='MaKH' value="<%= membershipCard.MaKH %>">
            </div>
            <div class="form-group">
                <label>Membership Tier ID</label>
                <input class="form-control" type="text" name='MaLoaiThe' value="<%= membershipCard.MaLoaiThe %>">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="delete-btn" class="btn btn-secondary" type="button" value="DELETE"
                onclick="handleDeleteMembershipCard('<%= membershipCard._id %>')">
        </form>
    </div>
    <script>
        function handleDeleteMembershipCard(value) {
            $.ajax({
                url: '/thethanhvien/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/');
                }
            })
        }
    </script>
</body>
</html>
