<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/cuahang"><h3>Store Page</h3></a>
        <h2>UPDATE STORE</h2>
        <form action="/cuahang/update/<%= store.MaCH %>" method="POST">
            <div class="form-group">
                <label>Store ID</label>
                <input class="form-control" type="text" name='MaCH' value="<%= store.MaCH %>">
            </div>
            <div class="form-group">
                <label>Store Name</label>
                <input class="form-control" type="text" name='TenCH' value="<%= store.TenCH %>">
            </div>
            <div class="form-group">
                <label>Number of Staffs</label>
                <input class="form-control" type="number" name='TongNV' value="<%= store.TongNV %>">
            </div>
            <div class="form-group">
                <label>Number Address</label>
                <input class="form-control" type="text" name='SoNha' value="<%= store.SoNha %>">
            </div>
            <div class="form-group">
                <label>Street</label>
                <input class="form-control" type="text" name='Duong' value="<%= store.Duong %>">
            </div>
            <div class="form-group">
                <label>District</label>
                <input class="form-control" type="text" name='Quan' value="<%= store.Quan %>">
            </div>
            <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text" name='ThanhPho' value="<%= store.ThanhPho %>">
            </div>
            <div class="form-group">
                <label>Suppier ID</label>
                <input class="form-control" type="text" name='MaNCC' value="<% store.MaNCC %>">
            </div>
            
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="delete-btn" class="btn btn-secondary" type="button" value="DELETE"
                onclick="handleDeleteStore('<%= store.MaCH %>')">
        </form>
    </div>
    <script>
        function handleDeleteStore(value) {
            $.ajax({
                url: '/cuahang/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/');
                }
            })
        }
    </script>
</body>
</html>
