<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Purchase Invoice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/hoadonnhap"><h3>Purchase Invoice Page</h3></a>
        <h2>UPDATE PURCHASE INVOICE</h2>
        <form action="/hoadonnhap/update/<%= purchaseInvoice.MaHDN %>" method="POST">
            <div class="form-group">
                <label>Purchase Invoice ID</label>
                <input class="form-control" type="text" name='MaHDN' value="<%= purchaseInvoice.MaHDN %>">
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="number" name='SoLuongNhap' value="<%= purchaseInvoice.SoLuongNhap %>">
            </div>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" type="date" name='NgayNhap' value="<%= purchaseInvoice.NgayNhap %>">
            </div>
            <div class="form-group">
                <label>Costs</label>
                <input class="form-control" type="number" name='TongTienTra' value="<%= purchaseInvoice.TongTienTra %>">
            </div>
            <div class="form-group">
                <label>Store ID</label>
                <input class="form-control" type="text" name='MaCH' value="<%= purchaseInvoice.MaCH %>">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="delete-btn" class="btn btn-secondary" type="button" value="DELETE"
                onclick="handleDeletePurchaseInvoice('<%= purchaseInvoice.MaHDN %>')">
        </form>
    </div>
    <script>
        function handleDeletePurchaseInvoice(value) {
            $.ajax({
                url: '/hoadonnhap/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/');
                }
            })
        }
    </script>
</body>
</html>
